main{
    display: flex;
}

nav{
    width: 30%;
    background-color: bisque;
    
}

nav ul{
    list-style: none;
    text-decoration: none;
}

nav li{
    font-size:18px;
    
    color: black;
    
}